openapi: 3.2.0
info:
  title: Kintsugi Tax Nexus API
  description: REST API for the Kintsugi AI sales tax compliance and automation platform.
  termsOfService: https://www.trykintsugi.com/terms-of-service
  contact:
    name: Kintsugi Support
    url: https://www.trykintsugi.com/support
  version: '1.0'
servers:
- url: https://api.trykintsugi.com/v1
  description: Kintsugi production API base URL
security:
- ApiKeyAuth: []
  OrganizationId: []
tags:
- name: Nexus
  description: Physical and economic nexus tracking.
paths:
  /nexus:
    get:
      operationId: getNexusForOrg
      tags:
      - Nexus
      summary: Get nexus status for the organization
      responses:
        '200':
          description: Nexus status across jurisdictions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Nexus'
  /nexus/physical:
    post:
      operationId: createPhysicalNexus
      tags:
      - Nexus
      summary: Create a physical nexus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhysicalNexusRequest'
      responses:
        '201':
          description: Physical nexus created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Nexus'
    get:
      operationId: getPhysicalNexus
      tags:
      - Nexus
      summary: List physical nexus entries
      responses:
        '200':
          description: Physical nexus entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Nexus'
  /nexus/physical/{id}:
    patch:
      operationId: updatePhysicalNexus
      tags:
      - Nexus
      summary: Update a physical nexus
      parameters:
      - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhysicalNexusRequest'
      responses:
        '200':
          description: Physical nexus updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Nexus'
    delete:
      operationId: deletePhysicalNexus
      tags:
      - Nexus
      summary: Delete a physical nexus
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Physical nexus deleted.
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    PhysicalNexusRequest:
      type: object
      properties:
        state:
          type: string
        country:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
      required:
      - state
    Nexus:
      type: object
      properties:
        id:
          type: string
        state:
          type: string
        country:
          type: string
        nexus_type:
          type: string
          enum:
          - PHYSICAL
          - ECONOMIC
        status:
          type: string
        registration_id:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key generated in the Kintsugi dashboard.
    OrganizationId:
      type: apiKey
      in: header
      name: x-organization-id
      description: Identifier of the organization the request acts on behalf of.
